@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 25px 0;
}

.header a {
  text-decoration: none;
  color: #2C2C2C;
  font-size: 14px;
  text-transform: uppercase;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 48px;
}
.header .button {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  padding: 8px 20px;
  background-color: transparent;
  color: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-radius: 40px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .header .header-nav {
    display: none;
  }
}
@media (min-width: 700px) {
  .header .header-nav {
    gap: 30px;
  }
}
@media (min-width: 900px) {
  .header .header-nav {
    gap: 48px;
  }
}
.hero {
  padding-top: 85px;
}
.hero p {
  text-transform: uppercase;
  text-align: center;
}
.hero h1 {
  font-weight: 600;
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
}
.hero .video {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  padding-top: 20px;
}
.hero .video iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .hero {
    padding-top: 60px;
  }
  .hero h1 {
    font-size: 55px;
  }
  .hero .video {
    width: 100%;
    height: 350px;
  }
}
@media (min-width: 600px) {
  .hero {
    padding-top: 60px;
  }
  .hero h1 {
    font-size: 80px;
  }
  .hero .video {
    width: 100%;
  }
}
@media (min-width: 900px) {
  .hero h1 {
    font-size: 100px;
  }
  .hero .video {
    width: 90%;
  }
}
.categories {
  padding-top: 100px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.categories .head {
  max-width: 500px;
}
.categories .head .title {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.categories .head .desc {
  font-size: 16px;
  color: #7a7a7a;
}
.categories .body {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}
.categories .body .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid #cbcbcb;
}
.categories .body p {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}
.categories .body .img {
  padding: 8px;
  border: 1px solid #2c2c2c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .categories {
    padding-top: 50px;
    flex-direction: column;
    gap: 30px;
  }
  .categories .body .item {
    padding: 12px 0;
  }
  .categories .body p {
    font-size: 32px;
  }
  .categories .body .img {
    padding: 4px;
  }
}
.swallows {
  padding-top: 100px;
}
.swallows > p {
  font-weight: 500;
  font-size: 48px;
  text-transform: uppercase;
  color: #2c2c2c;
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
}
.swallows .box {
  padding: 60px 160px 0;
  display: flex;
  gap: 24px;
  gap: 24px;
}
.swallows .box .col1,
.swallows .box .col2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.swallows .box .col2 {
  margin-top: 160px;
}
.swallows .box .col1 div,
.swallows .box .col2 div {
  padding: 48px;
  padding-bottom: 60px;
  background-color: #ededed;
  border-radius: 30px;
}
.swallows .box .col1 div img,
.swallows .box .col2 div img {
  padding-bottom: 32px;
}
.swallows .box .col1 div .title,
.swallows .box .col2 div .title {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 16px;
}
.swallows .box .col1 div .desc,
.swallows .box .col2 div .desc {
  color: #7a7a7a;
}
.swallows .box .box2 {
  margin-top: 160px;
}
.swallows .box .box3 {
  align-self: start;
}

@media (max-width: 600px) {
  .swallows {
    padding-top: 50px;
  }
  .swallows > p {
    font-size: 36px;
  }
  .swallows .box {
    flex-direction: column;
    padding: 0;
    padding-top: 30px;
  }
  .swallows .box .col1 div,
  .swallows .box .col2 div {
    padding: 30px;
  }
  .swallows .box .col1 div .title,
  .swallows .box .col2 div .title {
    font-size: 18px;
  }
  .swallows .box .col2 {
    margin-top: 0;
  }
}
@media (min-width: 600px) {
  .swallows > p {
    padding-bottom: 30px;
  }
  .swallows .box {
    padding: 0;
  }
  .swallows .box .col1 div,
  .swallows .box .col2 div {
    padding: 30px;
  }
  .swallows .box .col1 div .title,
  .swallows .box .col2 div .title {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  .swallows .box {
    padding: 60px 80px 0;
  }
}
@media (min-width: 1200px) {
  .swallows .box {
    padding: 60px 150px 0;
  }
}
.prices {
  padding-top: 120px;
}
.prices > p {
  color: #2c2c2c;
  font-weight: 500;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.prices .box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.prices .box .item {
  display: flex;
  padding: 48px;
  align-items: start;
  justify-content: space-between;
  background-color: #ededed;
  border-radius: 30px;
}
.prices .box .item button {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  padding: 14px 27px;
  background-color: transparent;
  color: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.4s;
}
.prices .box .item button:hover {
  color: white;
  background-color: black;
}
.prices .box .plan {
  display: flex;
  position: relative;
}
.prices .box .plan img {
  display: none;
  position: absolute;
  bottom: -48px;
  right: 350px;
}
.prices .box .plan .title {
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  padding-bottom: 16px;
}
.prices .box .plan .desc {
  color: #7a7a7a;
}

@media (max-width: 600px) {
  .prices .box .item {
    flex-direction: column;
    padding: 30px;
    gap: 20px;
  }
}
@media (min-width: 600px) {
  .prices .box .item {
    padding: 30px;
    gap: 20px;
  }
}
@media (min-width: 800px) {
  .prices .box .item {
    padding: 48px;
  }
  .prices .box .plan div {
    max-width: 350px;
  }
}
@media (min-width: 1024px) {
  .prices .box .plan img {
    display: flex;
  }
}
.footer {
  padding-top: 120px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 30px;
}
.footer .left > div > .desc {
  color: #7a7a7a;
  padding-top: 20px;
  padding-bottom: 60px;
}
.footer .left > .gmail {
  text-transform: uppercase;
  color: #2c2c2c;
  font-weight: 500;
}
.footer .left .social {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 24px;
}
.footer .left .social > a {
  text-decoration: none;
}
.footer .rigth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .rigth .box {
  max-width: 288px;
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
.footer .rigth > .box > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
}
.footer .rigth > .box > div a {
  color: #7a7a7a;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 100%;
  font-size: 16px;
}
.footer .rigth a {
  text-decoration: none;
}
.footer .rigth button {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  padding: 8px 20px;
  background-color: transparent;
  color: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-radius: 40px;
  cursor: pointer;
}
.footer .rigth button img {
  transform: rotateZ(-45deg);
}

@media (max-width: 600px) {
  .footer {
    padding-top: 50px;
    flex-direction: column;
    gap: 30px;
  }
  .footer .rigth button {
    margin-top: 30px;
  }
}
@media (min-width: 600px) {
  .footer .left {
    max-width: 350px;
  }
}

/*# sourceMappingURL=main.css.map */
