.button {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  padding: 8px 20px;
  background-color: transparent;
  color: #2C2C2C;
  border: 1px solid #2C2C2C;
  border-radius: 40px;
  cursor: pointer;
}
