.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-nav {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 48px;
        
    }
}